/* Rethink Sans */
@font-face {
    font-family: "Rethink Sans";
    src: url("/assets/fonts/RethinkSans-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Rethink Sans";
    src: url("/assets/fonts/RethinkSans-Italic-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* Hanken Grotesk */
@font-face {
    font-family: "Hanken Grotesk";
    src: url("/assets/fonts/HankenGrotesk-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    }

@font-face {
    font-family: "Hanken Grotesk";
    src: url("/assets/fonts/HankenGrotesk-Italic-VariableFont_wght.woff2") format("woff2");
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
}

/* Special Gothic Expanded One */
@font-face {
    font-family: "Special Gothic Expanded One";
    src: url("/assets/fonts/SpecialGothicExpandedOne-Regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

/* variable styling */
:root {
    --white-color: #F4F3F0;
    --black-color: #000000;
    --orabnge-color: #FF8E4B;
}

/* Reset and base styles */
*{
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar{
    display: none;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}


::-webkit-scrollbar{
    display: none;
}
html{
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body {
    background-color: var(--white-color);
    color: var(--black-color);
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: url("/assets/images/OVERLAY.png");
    background-repeat: repeat;
    background-size: 200px 200px; 

    opacity: 0.3;
    pointer-events: none;

    z-index: 10;
}



/* ===================Nav styling======================= */
header {
    width: 100%;
}

nav {
    position: absolute;
    top: 81vh;
    left: 50%;
    transform: translateX(-50%);
    width: 90vw;
    z-index: 100;
}

nav.is-fixed {
    position: fixed;
    top: 30px;
}

nav.sticky {
    position: fixed;
    top: 30px;
    left: 50%;                   
    transform: translateX(-50%); 
    z-index: 1000;
}


nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}
nav ul li a{
    font-family: 'Rethink Sans', sans-serif;
    font-size: 24px;
    color: var(--black-color);
}

/* hidden nav styling */
nav.nav--hidden {
    pointer-events: none;
    z-index: -100;
}


.scrollable-area {
    height: 2000px;
}